body{
    background-image: linear-gradient(to right, rgb(147, 201, 235), white,white,rgb(147, 201, 235))
}

.background{
    background-image: url(./img/background.jpg);
    width: 100%;
}

.card-title{
    text-transform: uppercase;
    font-size: 33px;
}

.weather-icon{
    font-size: 60px;
}



